img.folderIcon{
	max-width:32px;
	max-width:32px;	
}
div#folders{
	border-left: 1px #000 solid;
	border-top: 1px #000 solid;
	border-right: 1px #000 solid;
}
li.folderItem{
	margin-top:0px;
	border-bottom: 1px #000 solid;
}
li.folderItem:hover{
  transition: all .08s ease-in;
	background:#dddddd;
}

div.folderBlock{
	position: relative;
}
h4.folderPath{
	display: block;
	position: absolute;
	top: 50%;
	left: 0%;
	margin-top:-10px;
	margin-left:35px;
	
}