img.folderIcon{
	max-width:32px;
	max-width:32px;	
}
ul#folderList{
	
}
div#folders{
	margin-left: 5%;
	margin-right: 5%;
	border-top: 1px #AAAAAA solid;
	border-left: 1px #AAAAAA solid;
	border-right: 1px #AAAAAA solid;
}
li.folderItem{
	margin-top:0px;
	border-bottom: 1px #AAAAAA solid;
}
li.folderItem:hover{
  transition: all .08s ease-in;
	background:#dddddd;
}

div.folderBlock{
	position: relative;
}
.folderBlock > span{
	 margin-top: 8px;
	 float:left;
	 font-weight: 500;
}
.folderPath{
	margin-right: 20px;
}
a.folderPath:link a.foldderPath:visited{
	color:#1C3851;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	color:#0F1F2D;
	text-decoration: none;
}
.folderBlock > img{
	 float:left;
}
#addSecretModalBody > .popover{
	width:300px;
	max-width:300px;
}
.error{
	transition: all .08s ease-in;
	color:red;
}
#publicURL{
	width:100%;
}