
div#folders{
	margin-top: 1.5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1.5%;
}
body{
	background-color: #e7e7e7;
}

paper-item.folderItem{
	background-color:#f9f9f9
	margin-top:.9%;
	border-bottom: 1px #AAAAAA solid;
}

.secretIcon, .publicIcon{
	margin-left: 20px;
	margin-right: 5px;
}
.folderSecret{
	width:0px;
}
#createFolder { 
	margin-right: 10px;
}
paper-button[autofocus] {
   color: #4285f4;
}
.dialogInput{
	padding:0em;
}
.error{
	transition: all .08s ease-in;
	color:red;
}
#publicURL{
	width:100%;
}
input#upload{
	margin-left: auto;
	margin-right: auto;
}
paper-spinner#uploadSpinner{
	margin-left: auto;
	margin-right: auto;
	display: none;
}
/* Project polymer stuff */
core-toolbar#toolbar{
	background-color:#5badff;
}
#addSecret::shadow #ripple{
	pointer-events:none;
}
paper-input > div.errorText{
	
}
#createFolder {
	padding-top: 50px;;
}
core-icon.itemIcon:hover{
	color:#2780ff;
}