
<!-- <script src='/static/bower_components/polymer/polymer.js'></script> -->
<html>
<head>
	<title>Title!</title>
	<script src='/static/bower_components/platform/platform.js'></script>
	<link href="/static/bower_components/polymer/polymer.html" rel="import">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/filelist.js"></script>
	<link href="/static/css/index.css" rel="stylesheet" type='text/css'>
	<!-- Project Polymer elements -->
	<link href="/static/bower_components/font-roboto/roboto.html" rel="import">
	<link href="/static/bower_components/core-toolbar/core-toolbar.html" rel="import">
	<link href="/static/bower_components/paper-item/paper-item.html" rel="import">
	<link href="/static/bower_components/paper-input/paper-input.html" rel="import">
	<link href="/static/bower_components/core-icons/core-icons.html" rel="import">
	<link href="/static/bower_components/core-icons/communication-icons.html" rel="import">
	<link href="/static/bower_components/core-icons/social-icons.html" rel="import">
	<link href="/static/bower_components/core-icons/notification-icons.html" rel="import">
	<link href="/static/bower_components/paper-dialog/paper-dialog.html" rel="import">
	<link href="/static/bower_components/paper-dialog/paper-dialog-transition.html" rel="import">
	<link href="/static/bower_components/paper-button/paper-button.html" rel="import">
	<link href="/static/bower_components/paper-toast/paper-toast.html" rel="import">
	<link href="/static/bower_components/paper-spinner/paper-spinner.html" rel="import">
	<!-- My own custom polymer elements -->
	<link href="/static/custom_components/center-paper-ripple-button/center-paper-ripple-button.html" rel="import">
	<link href="/static/custom_components/custom-icons/custom-icons.html" rel="import">
	
</head>
<body fullbleed vertical layout unresolved>
		<core-toolbar id="toolbar">
			<paper-shadow z="2"></paper-shadow>
			<center-paper-ripple-button id="homeButton" onclick="window.location.href = '/'" icon="custom:rotated-sync" on-tap="{{iconPressed}}" recenteringTouch=true></center-paper-ripple-button>
			<div id="toolbarTitle" flex>Bit Torrent Sync Web</div>
			<center-paper-ripple-button id="addSecret" icon="add"></center-paper-ripple-button>
			<center-paper-ripple-button id="uploadFile" icon="file-upload"></center-paper-ripple-button>
		</core-toolbar>
	
	<div id="folders">
			{% for item in folders %}
				{% if 'dir' in item %}
					<paper-item icon="folder" class='folderItem' label="{{item['dir']}}" type="folder" secret="{{item['secret']}}" items="{{item['secret']}}" center horizontal layout> <paper-shadow z="1"></paper-shadow> <a href="folder/{{item['dir']}}/"></a> <core-icon class="secretIcon itemIcon" icon="communication:vpn-key"></core-icon><paper-input value="{{item['secret']}}" class="folderSecret" type="password" readonly="readonly"> </paper-input> </paper-item>
				{% elif item['type'] == 'folder' %}
					<paper-item icon="folder" class='folderItem' label="{{item['name']}}" type="folder" secret="{{item['secret']}}" state="{{item['state']}}" center horizontal layout> <paper-shadow z="1"></paper-shadow> <a href="{{item['name']}}"></a> </paper-item>
				{% else %}
					<paper-item icon="drive-file" class='folderItem' label="{{item['name']}}" type="{{item['type']}}" secret="null" state="{{item['state']}}" center horizontal layout> <paper-shadow z="1"></paper-shadow> <a href="javascript:void(0)" name="{{item['name']}}" class="fileItem"></a> <core-icon class="publicIcon itemIcon" icon="social:share"></core-icon> <core-icon class="deleteIcon itemIcon" icon="delete"></core-icon></paper-item>
					
				{% endif %}
			{% else %}
				<span id="noFolders">There are no files or folders to show.</span>
			{% endfor %}
	</div>
	
	<!-- Polymer Dialogs -->
	<paper-dialog id="addSecretModal" closeSelector="[dismissive]" heading="Add secret" transition="paper-dialog-transition-center">
		 <paper-input class='dialogInput' id="dirInput" onInput="setValid(this.parentNode.id,confirmAddSecret.id)" floatinglabel required label="Directory" layout vertical class></paper-input>
		 <paper-input class='dialogInput' id="secretInput" onInput="setValid(this.parentNode.id,confirmAddSecret.id)" floatinglabel required label="Secret" layout vertical class></paper-input>
		 <input type="checkbox" id="createFolder">Create this folder if it doesn't exist.</input>
		<paper-button dismissive>Cancel</paper-button>
		<paper-button id="confirmAddSecret" affirmative autofocus>Confirm</paper-button>
	</paper-dialog>
	<paper-dialog id="uploadModal" closeSelector="[dismissive]" heading="Upload file" transition="paper-dialog-transition-center">
		<input type="file" id="upload"/>
		<!-- This is a polymer labs element, might be a bit buggy! -->
		<paper-spinner id="uploadSpinner"></paper-spinner>
		<span id="uploadStatus"></span>
		<paper-button id="cancelUpload" dismissive>Cancel</paper-button>
	</paper-dialog>
	<paper-dialog id="deleteModal" closeSelector="[dismissive]" heading="Delete file" transition="paper-dialog-transition-center">
		Are you sure you want to delete <span id="deleteFilename"></span>?
		<paper-button dismissive>Cancel</paper-button>
		<paper-button id="confirmDelete" affirmative autofocus>Accept</paper-button>
	</paper-dialog>
	<paper-dialog id="publicModal" heading="File is now public!" transition="paper-dialog-transition-center">
		<span id="publicName"></span> is now public!
		<paper-input id="publicURL" readonly="readOnly"></paper-input>
		<paper-button dismissive>Cancel</paper-button>
		<paper-button affirmative autofocus>Done</paper-button>
	</paper-dialog>
	<!-- /Polymer Dialogs -->
	
	<!-- Polymer Toasts -->
	<paper-toast id="fileDeletedToast" text="File deleted"></paper-toast>
	<paper-toast id="fileUploadedToast" text="File uploaded"></paper-toast>
	<!-- /Polymer Toasts -->
</body>
</html>
	