
<!-- <script src='/static/bower_components/polymer/polymer.js'></script> -->
<html>
<head>
	<title>Title!</title>
	<script src='/static/bower_components/platform/platform.js'></script>
	<link href="/static/bower_components/polymer/polymer.html" rel="import">
	<script src="/static/js/jquery.js"></script>
	<script src='/static/bootstrap/js/bootstrap.min.js'></script>
	<script src="/static/js/filelist.js"></script>
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/index.css" rel="stylesheet" type='text/css'>
	<!-- Project Polymer elements -->
	<link href="/static/bower_components/font-roboto/roboto.html" rel="import">
	<link href="/static/bower_components/core-toolbar/core-toolbar.html" rel="import">
	<link href="/static/bower_components/paper-dialog/paper-dialog.html" rel="import">
	<!-- My own custom polymer elements -->
	<link href="/static/custom_components/center-paper-ripple-button/center-paper-ripple-button.html" rel="import">
</head>
<body fullbleed vertical layout unresolved>
		<core-toolbar id="toolbar">
			<center-paper-ripple-button icon="menu" on-tap="{{iconPressed}}" recenteringTouch=true></center-paper-ripple-button>
			<div flex>Title</div>
			<center-paper-ripple-button id="addSecret" icon="add"</center-paper-ripple-button>
		</core-toolbar>
	<button id='uploadButton' class='btn btn-primary'>Upload a file</button>
	<span id='loading' style="display:none">Loading...</span>
	<div id="folders">
		<ul class="media-list" id="folderList">
			{% for item in folders %}
				{% if 'dir' in item %}
					<li class='media folderItem' name="{{item['dir']}}" type="folder" secret="{{item['secret']}}" items="{{item['secret']}}"> 
				{% else %}
					<li class='media folderItem' name="{{item['name']}}" type="{{item['type']}}" secret="null" state="{{item['state']}}"> 
					
				{% endif %}
					<div class='folderBlock'>
						{% if 'dir' in item %}
							<img class='folderIcon' src='/static/img/folder.png'>
							<a href="folder/{{item['dir']}}/" class="folderPath">{{item['dir']}}</a>
							Secret:<input class="folderSecret" value="{{item['secret']}}" readonly="readonly" type="password"></input>
						{% else %}
							{% if item['type'] == 'folder' %}
								<img class='folderIcon' src='/static/img/folder.png'>
								<a href="{{item['name']}}/" class="folderPath">{{item['name']}}</a>
							{% else %}
								 <img class='folderIcon' src='/static/img/file.png'> 
								 <a href="javascript:void(0)" name="{{item['name']}}" class="folderPath fileItem">{{item['name']}}</a>
								 <button class="publicButton btn btn-info">Make Public</button>
								 <button class="deleteButton btn btn-danger">Delete</button>
							{% endif %}
						{% endif %}
						
					</div>
				</li>
				{% else %}
				<span id="noFolders">There are no files or folders to show.</span>
			{% endfor %}
		</ul>
	</div>
	<div class="modal fade bs-example-modal-sm" id="addSecretModal" tabindex="-1" role="dialog" aria-labelledby="addSecretModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Add a secret</h4>
				</div>
				<div id="addSecretModalBody" class="modal-body">
					<input id="dirInput" type="text" class="form-control" placeholder="Directory" data-toggle="popover" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt metus, at tincidunt odio. Aliquam sed elit ut orci iaculis commodo. In pellentesque suscipit dignissim." trigger="manual" />
					<br / >
					<input id="secretInput" type="text" class="form-control" placeholder="Secret (optional)" data-toggle="popover" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt metus, at tincidunt odio. Aliquam sed elit ut orci iaculis commodo. In pellentesque suscipit dignissim." trigger="manual"/>
					<br />
					<input type="checkbox" id="createFolder">Create the directory if it does not exist.</input>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="confirmAddSecret" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="dupeUploadModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Upload a file</h4>
				</div>
				<div id="dupeUploadModal" class="modal-body">
					<input type="file" id='upload'/>
					<span id="uploadStatus"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelled="deleteModal" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Delete file?</h4>
				</div>
				<div class="modal-body" id="deleteModalBody">
					Are you sure you want to delete <span id="deleteFilename"></span>?
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="confirmDelete" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="publicModal" tabIndex="-1" role="dialog" aria-labelled="publicModal" aria-hdiden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">File is public!</h4>
				</div>
				<div class="modal-body" id="publicModalBody">
					<input id="publicURL" readonly="readonly"></input>
				</div>
				<div class="modal-footer">
					<button id="donePublic" class="btn btn-primary">Done</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
	